
<div class="col-sm-12 bg-color-white">
    <div class=" body-content-padding">
        @Html.Action("Destaque")
    </div>
</div>
        
<div class="col-sm-12 bg-color-white body-position">
    <div class=" body-content-padding body-min-height">
        <h3>Vitrine</h3>
        <hr/>
        @Html.Action("Vitrine")
    </div>
</div>

