@model IEnumerable<Sisvon.Model.Entities.SubClasse>

<nav class="navbar navbar-default bg-color-white">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                @if (Model != null)
                {
                    foreach (var item in Model)
                    {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@item.Nome</a>
                            <ul class="dropdown-menu">
                                @foreach (var grupo in item.Grupos)
                                {
                                    <li><a href="@Url.Action("Categoria", new { departamento=item.Nome, codCategoria = grupo.GrupoId, categoria = grupo.Nome})">@grupo.Nome</a></li>
                                }
                                <li role="separator" class="divider"></li>
                                <li><a href="@Url.Action("Index", new { codDepartamento=item.SubClasseId,departamento=item.Nome})">Todos os produtos</a></li>

                            </ul>
                        </li>
                    }
                }
            </ul>
        </div>
    </div>
</nav>