@model decimal

<div class="col-sm-12 text-left">
    <h3>Informações para Depósito</h3>
    <hr/>
    <h4>Banco Bradesco</h4><br/>
    <strong>AG: 0000-0</strong><br />
    <strong>C/C: 00.000-0</strong><br />
    <strong>Nome: COMERCIAL PORTOMAT</strong><br />
    <strong>Valor: R$@Model</strong><br />
</div>
