@{
    ViewBag.Title = "Atualizar";
}
<div class="col-sm-12 bg-color-white">
    <div class=" body-content-padding">
        <h2>Atualizar Produtos</h2>

        <form method="POST" action="@Url.Action("AtualizarProdutos")">
            <hr />
            <button type="submit" class="btn btn-lg btn-success align-center">Atualizar</button>
        </form>
    </div>
</div>
