<div class="usuarioLogado ">
    <i class="fa fa-user" aria-hidden="true"></i>
    @ViewBag.UsuarioNome
    @Html.ActionLink(" ", "Deslogar", null, new { @class = "fa fa-times text-danger", title="Sair" })
</div>
